body {
  font-family: "Montserrat";
  text-align: center;
  font-family: Calibri;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 5% 12%;
}

/* Sections */

.colored-section {
  background-color: #00331a;
  /*3AEF69*/
  color: #fff;
}

.white-section {
  background-color: rgb(226, 221, 221);
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #00331a;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 50%;
  transform: rotate(0deg);
  position: absolute;
  right: 3%;
  border-radius: 50%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #00331a;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #00331a;
}

/* Testimonial Section */

#testimonials {
  background-color: #00331a;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 15%;
  border-radius: 50%;
  margin: 20px;
  height: 15%;
}


#press {
  background-color: #00331a;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.social-icon {
  opacity: 0.7;

}

.social-icon:hover {
  cursor: pointer;
  opacity: 1;
}

/* CTA Section */
/*#cta{
  background-color: #0BBB62;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading{  big-heading
font-family: "Montserrat-Black";
font-size: 3.5rem;
line-height: 1.5;
}
*/
/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

.copyright {
  color: #000000;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}